// Typography
h1 {
  @apply not-italic text-4xl font-extrabold leading-tight tracking-tighter dark:text-white;
}

h2 {
  @apply not-italic text-3xl font-extrabold leading-tight tracking-tighter dark:text-white;
}

h3 {
  @apply not-italic font-normal text-3xl leading-10 dark:text-white;
  letter-spacing: 1px;
}

h4 {
  @apply not-italic font-normal text-lg leading-6 dark:text-white;
  letter-spacing: 0.4px;
}

h5 {
  @apply not-italic font-medium text-base leading-6 dark:text-white;
  letter-spacing: 0.4px;
}

p {
  @apply text-sm text-gray-500 leading-snug tracking-tight dark:text-white;
}
